.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 15px;
    margin: 0px auto 25px;
    background-color: #567171;
    color: rgba(245, 245, 245, 0.677);
    width: 50%;
    transition: .3s all;
    .card_title {
        font-size: 25px;
        margin: 0 auto;
    }
    .card_body {
        font-size: 19px;
        margin: 0 auto;
        padding: 3px 0px;
    }
}