.header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
    padding: 15px;
    .header_text {
        color: rgba(255, 255, 255, 0.7);
        font-style: oblique;
        font-size: 30px;
        padding: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        .drawing_pin {
            width: 30px;
            height: 30px;
        }
    }
    .header_button {
        padding: 10px;
    }
    .account {
        color: white;
        left: 1%;
        position: absolute;
        font-size: 25px;
    }
}