.under_cards {
    list-style-type: disc;
    position: relative;
    padding: 0px 8px;
    margin-left: .8rem;
    margin-bottom: 10px;
    display: block;
    flex-direction: column;
    &:hover > &_title svg {
        opacity: 1;
    }
    &:hover > &_title span {
        text-decoration: underline rgb(157, 145, 236) 2px;
    }
    &_title {
        font-size: 20px;
        font-weight: 500;
        span {
            transition: .2s all;
            text-decoration:rgba(157, 145, 236, 0);
        }
        .add_sub_task {
            padding: 0;
            margin: 0;
            button {
                padding: 0;
                margin: 0;
                background-color: transparent;
            }
        }
        svg {
            transition: .2s all;
            opacity: 0;
            height: 15px;
        }
    }
    .subtask_adding_menu {
        padding: 10px;
        border-radius: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: gray;
        svg {
            position: absolute;
            background-color: transparent;
            opacity: 1;
            right: 96%;
        }
        button:nth-child(1) {
            background-color: transparent;
        }
        button:nth-child(4) {
            margin: 5px auto;
            background-color: #567171;
            width: 25%;
        }
        input {
            border-radius: 10px;
            padding: 8px;
            outline: 0;
            border: 0;
            margin: 5px auto;
            width: 50%;
        }
    }
}