.under_cards {
    display: flex;
    flex-direction: column;
    .subtasks {
        margin-left: 20px;
        padding: 5px;
    }
    .subtasks_absent {
        margin: 0 auto;
        padding: 10px;
        font-style: oblique;
        opacity: 0.5;
        font-size: 20px;
    }
}