.login {
    display: flex;
    background-color: #567171;
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    button {
        background-color: rgba(162, 162, 162, 0.537);
    }
    input {
        font-size: 15px;
        border-radius: 10px;
        padding: 8px;
        margin: 5px;
        outline: none;
        border: none;
    }
    .login_title {
        color: rgba(255, 255, 255, 0.766);
        font-size: 25px;
    }
    .login_account_text {
        color: rgba(255, 255, 255, 0.766);
        span {
            color: #7878ff;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}